<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h1 class="box-title">Dashboard</h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <section class="invoice" style="border:none">
            <!-- form start -->
            <table style="undefined; table-layout: fixed; width: 100%">

                <tr>
                    <td class="tg-yw4l" style="width: 10%">
                        <label for="level_to" class="col-sm-3 control-label">{{shipment_recipient_level_string}}</label>
                    </td>
                    <td class="tg-yw4l" style="width: 20%">
                        <div class="form-group error">
                            <div class="col-sm-9">
                                <select name="level_to" class="form-control" ng-model="send_shipment.level_to" ng-required="true" ng-change="level_changed(send_shipment.level_to)">
                                    <option value="0">Select Recipient Level</option>
                                    <option ng-repeat="to_level in shipment_receive_level" value="{{to_level.id}}"> {{to_level.title}}</option>
                                </select>
                                <span class="help-inline"
                                      ng-show="send_shipment.level_to.$invalid && send_shipment.level_to.$touched">We can't let you continue without selecting one recipient for this shipment</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tg-yw4l" style="width: 10%">
                        <label for="level_to" class="col-sm-3 control-label">{{shipment_province_string}}</label>
                    </td>
                    <td class="tg-yw4l" style="width: 20%">
                        <div class="form-group error">
                            <div class="col-sm-9">
                                <select name="province_to" class="form-control" ng-model="send_shipment.province_to" ng-required="true" ng-change="province_changed(send_shipment.province_to)" ng-disabled="(!send_shipment.level_to)">
                                    <option value="0">Select Province</option>

<!-- 
                                    <option ng-repeat="to_province in shipment_to_ptovince" value="{{to_province.id}}"> {{to_province.dr_name}}</option> -->
                                
                                    <option ng-if="locale_string==='en'" ng-repeat="to_province in shipment_to_ptovince" value="{{to_province.id}}">
                                        {{to_province.en_name}}
                                    </option>
                                    
                                    <option ng-if="locale_string==='fa' || locale_string==='ps'" ng-repeat="to_province in shipment_to_ptovince"
                                        value="{{to_province.id}}">
                                        {{to_province.dr_name}}
                                    </option>
                                
                                
                                </select>
                                <span class="help-inline"
                                      ng-show="send_shipment.level_to.$invalid && send_shipment.level_to.$touched">We can't let you continue without selecting one recipient for this shipment</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tg-yw4l" style="width: 10%">
                        <label for="district_to" class="col-sm-3 control-label">{{shipment_district_string}}</label>
                    </td>
                    <td class="tg-yw4l" style="width: 20%">
                        <div class="form-group error">
                            <div class="col-sm-9">
                                <select name="district_to" class="form-control" ng-model="send_shipment.district_to" ng-required="true" ng-change="district_changed(send_shipment.level_to,send_shipment.province_to,send_shipment.district_to)" ng-disabled="(!send_shipment.level_to)">
                                    <option value="0">Select District</option>

                                    <!-- <option ng-repeat="to_district in shipment_to_district" value="{{to_district.id}}"> {{to_district.dr_name}}</option>
                                 -->
                                
                                <option ng-if="locale_string==='en'" ng-repeat="to_district in shipment_to_district" value="{{to_district.id}}">
                                    {{to_district.en_name}}
                                </option>

                                <option ng-if="locale_string==='fa' || locale_string==='ps'" ng-repeat="to_district in shipment_to_district"
                                    value="{{to_district.id}}">{{to_district.dr_name}}
                                </option>


                                </select>
                                <span class="help-inline"
                                      ng-show="send_shipment.district_to.$invalid && send_shipment.district_to.$touched">We can't let you continue without selecting one recipient for this shipment</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tg-yw4l" style="width: 10%">
                        <label for="to" class="col-sm-3 control-label">{{shipment_recipient_string}}</label>
                    </td>
                    <td class="tg-yw4l" style="width: 20%">
                        <div class="form-group error">
                            <div class="col-sm-9">
                                <select name="to" class="form-control" ng-model="send_shipment.to" ng-required="true" ng-disabled="(!send_shipment.level_to)" ng-change="node_changed(send_shipment.level_to,send_shipment.province_to,send_shipment.district_to,send_shipment.to)">
                                    <option value="0">Select Recipient</option>
                                    <option ng-repeat="to_item in to_node_list" value="{{to_item.id}}"> {{to_item.title}}</option>
                                </select>
                                <span class="help-inline"
                                      ng-show="send_shipment.to.$invalid && send_shipment.to.$touched">We can't let you continue without selecting one recipient for this shipment</span>
                            </div>
                        </div>

                    </td>
                </tr>

            </table>
        </section>
    </div>


    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{sent_packages_string}}
            </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>{{package_id_string}}</th>
                        <th>{{title_string}}</th>
                        <th>{{description_string}}</th>
                        <th>{{from_string}}</th>
                        <th>{{to_string}}</th>
                        <th>{{received_status_string}}</th>
                        <th>{{action_string}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="package_sent in sent_list | filter:searchText">
                        <td>{{  package_sent.id }}</td>
                        <td>{{  package_sent.title }}</td>
                        <td>{{  package_sent.description }}</td>
                        <td>{{  package_sent.from_node }}</td>
                        <td>{{  package_sent.to_node }}</td>
                        <td ng-show="{{ package_sent.recieved_status == 1 }}"><span class="label label-success" ng-show="{{package_sent.recieved_status == 1}}">{{receive_string}}</span></td>
                        <td ng-show="{{ package_sent.recieved_status == 0 }}"><span class="label label-danger" ng-show="{{package_sent.recieved_status == 0}}">{{pending_string}}</span></td>
                        <td align="center">
                            <a class="btn btn-sm btn-info btn-flat" ng-click="loadDetailSentPage(package_sent.id)"><i class="fa fa-eye"></i> {{view_detail_string}}</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box box-info" >
        <div class="box-header with-border">
            <h3 class="box-title">{{received_packages_string}}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>{{title_string}}</th>
                        <th>{{description_string}}</th>
                        <th>{{send_date_string}}</th>
                        <th>{{from_string}}</th>
                        <th>{{to_string}}</th>
                        <th>{{status_string}}</th>
                        <th>{{action_string}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="package_received in receive_list | filter:searchText">
                        <td>{{  package_received.title }}</td>
                        <td>{{  package_received.description }}</td>
                        <td>{{  package_received.send_date }}</td>
                        <td>{{  package_received.From_title }}</td>
                        <td>{{  package_received.To_title }}</td>
                        <td ng-show="{{ package_received.recieved == 1 }}"><span class="label label-success" ng-show="{{package_received.recieved == 1}}">{{receive_string}}</span></td>
                        <td ng-show="{{ package_received.recieved == 0 }}"><span class="label label-danger" ng-show="{{package_received.recieved == 0}}">{{pending_string}}</span></td>
                        <td align="center">
                            <a class="btn btn-sm btn-info btn-flat" ng-click="loadDetailReceivePage(package_received.recieved_id)"><i class="fa fa-eye"></i> {{view_detail_string}} </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->

    </div>


</section>



<!-- Modal (Pop up when detail button clicked) -->
<div class="modal fade" id="showReceiveDetailModal" tabindex="-1" role="dialog" aria-labelledby="showReceiveDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" >{{details_shipment_string}} {{shipment_receive.title  }}</h4>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-striped table-bordered">

                        <tbody>
                        <tr>
                            <th>{{shipment_title_string}}</th>
                            <td>{{ shipment_receive.title }}</td>

                            <th>{{total_received_string}}</th>
                            <td>{{ receive_shipment.total_general }}</td>
                        </tr>
                        <tr>
                            <th>{{shipment_description_string}}</th>
                            <td>{{shipment_receive.description}}</td>

                            <th>{{total_safe_string}}</th>
                            <td>{{ receive_shipment.total_safe }}</td>
                        </tr>
                        <tr>
                            <th>{{send_date_string}}</th>
                            <td>{{shipment_receive.send_date}}</td>

                            <th>{{total_damaged_string}}</th>
                            <td>{{ receive_shipment.damaged }}</td>
                        </tr>
                        <tr>
                            <th>{{receive_date_string}}</th>
                            <td>{{shipment_receive.receive_date}}</td>

                            <th>{{total_lost_string}}</th>
                            <td>{{ receive_shipment.lost }}</td>
                        </tr>

                        <tr>
                            <th></th>
                            <td></td>

                            <th>{{receive_shipment_string}}</th>
                            <td>

                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="box-body">
                    <div class="table-responsive">
                        <div class="tabbable tabs-below" ng-init="selectedTabDetail= 1;">
                            <ul class="nav nav-tabs nav-justified">
                                <li ng-class="{active: selectedTabDetail == 1}">
                                    <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(1)"> {{sent_detail_string}}</a>
                                </li>

                                <li ng-class="{active: selectedTabDetail == 2}" ng-show="sent_receive_status_cntrl">
                                    <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(2)">Received Detail</a>
                                </li>

                                <li ng-class="{active: selectedTabDetail == 3}" ng-show="sent_receive_status_cntrl">
                                    <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(3)">Damaged</a>
                                </li>

                                <li ng-class="{active: selectedTabDetail == 4}" ng-show="sent_receive_status_cntrl">
                                    <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(4)">Lost</a>
                                </li>
                            </ul>
                            <div class="tab-content" ng-show="selectedTabDetail == 1"
                                 ng-class="animation">


                                <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg .tg-uhkr{background-color:#ffce93}
                                    .tg .tg-ivby{background-color:#f9e5cc}
                                    @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                    .tg .sent_odd {background-color: black}
                                    .tg .sent_odd {background-color: red }
                                </style>

                                <div class="table-responsive">
                                    <div class="tg-wrap">
                                        <table class="tg" style="width: 100%">
                                            <tr>
                                                <th class="tg-ivby">{{grade_title_string}}</th>
                                                <th class="tg-ivby">{{title_string}}</th>
                                                <th class="tg-ivby">{{language_string}}</th>
                                                <th class="tg-ivby">{{total_string}}</th>
                                            </tr>
                                            <tr ng-repeat-start="(key, val) in sent_shipment_detail" ng-init="Temp_index= $index"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                                <td rowspan="{{val.length}}" >{{key}}</td>
                                                <td>{{val[0]['title']}}</td>
                                                <td>{{val[0]['language']}}</td>
                                                <td>{{val[0]['total']}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                                <td>{{value['title']}}</td>
                                                <td>{{value['language']}}</td>
                                                <td>{{value['total']}}</td>
                                            </tr>

                                        </table></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-content" ng-show="selectedTabDetail == 2"
                                 ng-class="animation">


                                <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg .tg-uhkr{background-color:#ffce93}
                                    .tg .tg-ivby{background-color:#f9e5cc}
                                    @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                    .tg .sent_odd {background-color: black}
                                    .tg .sent_odd {background-color: red }
                                </style>

                                <div class="table-responsive">
                                    <div class="tg-wrap">
                                        <table class="tg" style="width: 100%">
                                            <tr>
                                                <th class="tg-ivby">{{grade_title_string}}</th>
                                                <th class="tg-ivby">{{title_string}}</th>
                                                <th class="tg-ivby">{{language_string}}</th>
                                                <th class="tg-ivby">{{total_string}}</th>
                                            </tr>
                                            <tr ng-repeat-start="(key, val) in sent_received_shipment_detail" ng-init="Temp_index= $index"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#e5ffe5'} || (Temp_index % 2 != 0) && {'background-color': '#c5ffc5'}">
                                                <td rowspan="{{val.length}}" >{{key}}</td>
                                                <td>{{val[0]['title']}}</td>
                                                <td>{{val[0]['language']}}</td>
                                                <td>{{val[0]['total']}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#e5ffe5'} || (Temp_index % 2 != 0) && {'background-color': '#c5ffc5'}">
                                                <td>{{value['title']}}</td>
                                                <td>{{value['language']}}</td>
                                                <td>{{value['total']}}</td>
                                            </tr>

                                        </table></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <div class="tab-content" ng-show="selectedTabDetail == 3"
                                 ng-class="animation">


                                <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg .tg-uhkr{background-color:#ffce93}
                                    .tg .tg-ivby{background-color:#f9e5cc}
                                    @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                    .tg .sent_odd {background-color: black}
                                    .tg .sent_odd {background-color: red }
                                </style>

                                <div class="table-responsive">
                                    <div class="tg-wrap">
                                        <table class="tg" style="width: 100%">
                                            <tr>
                                                <th class="tg-ivby">{{grade_title_string}}</th>
                                                <th class="tg-ivby">{{title_string}}</th>
                                                <th class="tg-ivby">{{language_string}}</th>
                                                <th class="tg-ivby">{{total_string}}</th>
                                            </tr>
                                            <tr ng-repeat-start="(key, val) in sent_received_dmg_shipment_detail" ng-init="Temp_index= $index"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                                <td rowspan="{{val.length}}" >{{key}}</td>
                                                <td>{{val[0]['title']}}</td>
                                                <td>{{val[0]['language']}}</td>
                                                <td>{{val[0]['total']}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                                <td>{{value['title']}}</td>
                                                <td>{{value['language']}}</td>
                                                <td>{{value['total']}}</td>
                                            </tr>

                                        </table></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <div class="tab-content" ng-show="selectedTabDetail == 4"
                                 ng-class="animation">


                                <style type="text/css">
                                    .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                    .tg .tg-uhkr{background-color:#ffce93}
                                    .tg .tg-ivby{background-color:#f9e5cc}
                                    @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                    .tg .sent_odd {background-color: black}
                                    .tg .sent_odd {background-color: red }
                                </style>

                                <div class="table-responsive">
                                    <div class="tg-wrap">
                                        <table class="tg" style="width: 100%">
                                            <tr>
                                                <th class="tg-ivby">{{grade_title_string}}</th>
                                                <th class="tg-ivby">{{title_string}}</th>
                                                <th class="tg-ivby">{{language_string}}</th>
                                                <th class="tg-ivby">{{total_string}}</th>
                                            </tr>
                                            <tr ng-repeat-start="(key, val) in sent_received_lost_shipment_detail" ng-init="Temp_index= $index"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#ffc5c3'} || (Temp_index % 2 != 0) && {'background-color': '#fbc8b1'}">
                                                <td rowspan="{{val.length}}" >{{key}}</td>
                                                <td>{{val[0]['title']}}</td>
                                                <td>{{val[0]['language']}}</td>
                                                <td ng-style=" (val[0]['total'] > 0) && {'background-color': 'red'}" >
                                                    {{val[0]['total']}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                                ng-style=" (Temp_index % 2 == 0) && {'background-color': '#ffc5c3'} || (Temp_index % 2 != 0) && {'background-color': '#fbc8b1'}">
                                                <td>{{value['title']}}</td>
                                                <td>{{value['language']}}</td>
                                                <td ng-style=" (value['total'] > 0) && {'background-color': 'red'}">
                                                    {{value['total']}}</td>
                                            </tr>

                                        </table></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="showSentDetailModal" tabindex="-1" role="dialog" aria-labelledby="showSentDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="addNodeModalLabel">{{details_shipment_string}} {{sent_shipment.title  }}</h4>
            </div>
            <div class="modal-body">
                <div class=" table-responsive">
                    <table class="table table-striped table-bordered" name="eventreq-list">

                        <tbody>
                        <tr>
                            <th>{{shipment_title_string}}</th>
                            <td>{{ sent_shipment.title }}</td>
                        </tr>
                        <tr>
                            <th>{{shipment_description_string}}</th>
                            <td>{{sent_shipment.description}}</td>
                        </tr>
                        <tr>
                            <th>{{send_date_string}}</th>
                            <td>{{sent_shipment.send_date}}</td>
                        </tr>
                        <tr>
                            <th>{{receive_date_string}}</th>
                            <td>{{sent_shipment.receive_date}}</td>
                        </tr>
                        <tr>
                            <th>{{received_status_string}}</th>
                            <td>
                                {{sent_receive_status}}
                            </td>

                        </tr>


                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="box-body">



                    <div class="tabbable tabs-below" ng-init="selectedTabDetail= 1;">
                        <ul class="nav nav-tabs nav-justified">
                            <li ng-class="{active: selectedTabDetail == 1}">
                                <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(1)"> {{sent_detail_string}}</a>
                            </li>

                            <li ng-class="{active: selectedTabDetail == 2}" ng-show="sent_receive_status_cntrl">
                                <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(2)">Received Detail</a>
                            </li>

                            <li ng-class="{active: selectedTabDetail == 3}" ng-show="sent_receive_status_cntrl">
                                <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(3)">Damaged</a>
                            </li>

                            <li ng-class="{active: selectedTabDetail == 4}" ng-show="sent_receive_status_cntrl">
                                <a href="javascript:void(0)" ng-click=" setSelectedTabDetail(4)">Lost</a>
                            </li>
                        </ul>
                        <div class="tab-content" ng-show="selectedTabDetail == 1"
                             ng-class="animation">


                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg .tg-uhkr{background-color:#ffce93}
                                .tg .tg-ivby{background-color:#f9e5cc}
                                @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                .tg .sent_odd {background-color: black}
                                .tg .sent_odd {background-color: red }
                            </style>

                            <div class="table-responsive">
                                <div class="tg-wrap">


                                    <table class="tg" style="width: 100%">
                                        <tr>
                                            <th class="tg-ivby">{{grade_title_string}}</th>
                                            <th class="tg-ivby">{{title_string}}</th>
                                            <th class="tg-ivby">{{language_string}}</th>
                                            <th class="tg-ivby">{{total_string}}</th>
                                        </tr>
                                        <tr ng-repeat-start="(key, val) in sent_shipment_detail" ng-init="Temp_index= $index"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                            <td rowspan="{{val.length}}" >{{key}}</td>
                                            <td>{{val[0]['title']}}</td>
                                            <td>{{val[0]['language']}}</td>
                                            <td>{{val[0]['total']}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                            <td>{{value['title']}}</td>
                                            <td>{{value['language']}}</td>
                                            <td>{{value['total']}}</td>
                                        </tr>
                                        <tr>
                                            <td> Total </td>
                                            <td colspan="3"> {{ get_total(sent_shipment_detail) }} </td>
                                        </tr>

                                    </table></div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>

                        <div class="tab-content" ng-show="selectedTabDetail == 2"
                             ng-class="animation">


                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg .tg-uhkr{background-color:#ffce93}
                                .tg .tg-ivby{background-color:#f9e5cc}
                                @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                .tg .sent_odd {background-color: black}
                                .tg .sent_odd {background-color: red }
                            </style>

                            <div class="table-responsive">
                                <div class="tg-wrap">
                                    <table class="tg" style="width: 100%">
                                        <tr>
                                            <th class="tg-ivby">{{grade_title_string}}</th>
                                            <th class="tg-ivby">{{title_string}}</th>
                                            <th class="tg-ivby">{{language_string}}</th>
                                            <th class="tg-ivby">{{total_string}}</th>
                                        </tr>
                                        <tr ng-repeat-start="(key, val) in sent_received_shipment_detail" ng-init="Temp_index= $index"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#e5ffe5'} || (Temp_index % 2 != 0) && {'background-color': '#c5ffc5'}">
                                            <td rowspan="{{val.length}}" >{{key}}</td>
                                            <td>{{val[0]['title']}}</td>
                                            <td>{{val[0]['language']}}</td>
                                            <td>{{val[0]['total']}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#e5ffe5'} || (Temp_index % 2 != 0) && {'background-color': '#c5ffc5'}">
                                            <td>{{value['title']}}</td>
                                            <td>{{value['language']}}</td>
                                            <td>{{value['total']}}</td>
                                        </tr>
                                        <tr>
                                            <td> Total </td>
                                            <td colspan="3"> {{ get_total(sent_received_shipment_detail) }} </td>
                                        </tr>

                                    </table></div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <div class="tab-content" ng-show="selectedTabDetail == 3"
                             ng-class="animation">


                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg .tg-uhkr{background-color:#ffce93}
                                .tg .tg-ivby{background-color:#f9e5cc}
                                @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                .tg .sent_odd {background-color: black}
                                .tg .sent_odd {background-color: red }
                            </style>

                            <div class="table-responsive">
                                <div class="tg-wrap">
                                    <table class="tg" style="width: 100%">
                                        <tr>
                                            <th class="tg-ivby">{{grade_title_string}}</th>
                                            <th class="tg-ivby">{{title_string}}</th>
                                            <th class="tg-ivby">{{language_string}}</th>
                                            <th class="tg-ivby">{{total_string}}</th>
                                        </tr>
                                        <tr ng-repeat-start="(key, val) in sent_received_dmg_shipment_detail" ng-init="Temp_index= $index"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                            <td rowspan="{{val.length}}" >{{key}}</td>
                                            <td>{{val[0]['title']}}</td>
                                            <td>{{val[0]['language']}}</td>
                                            <td>{{val[0]['total']}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#f2fbff'} || (Temp_index % 2 != 0) && {'background-color': '#ffefef'}">
                                            <td>{{value['title']}}</td>
                                            <td>{{value['language']}}</td>
                                            <td>{{value['total']}}</td>
                                        </tr>
                                        <tr>
                                            <td> Total </td>
                                            <td colspan="3"> {{ get_total(sent_received_dmg_shipment_detail) }} </td>
                                        </tr>

                                    </table></div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <div class="tab-content" ng-show="selectedTabDetail == 4"
                             ng-class="animation">


                            <style type="text/css">
                                .tg  {border-collapse:collapse;border-spacing:0; padding: 2%}
                                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                                .tg .tg-uhkr{background-color:#ffce93}
                                .tg .tg-ivby{background-color:#f9e5cc}
                                @media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
                                .tg .sent_odd {background-color: black}
                                .tg .sent_odd {background-color: red }
                            </style>

                            <div class="table-responsive">
                                <div class="tg-wrap">
                                    <table class="tg" style="width: 100%">
                                        <tr>
                                            <th class="tg-ivby">{{grade_title_string}}</th>
                                            <th class="tg-ivby">{{title_string}}</th>
                                            <th class="tg-ivby">{{language_string}}</th>
                                            <th class="tg-ivby">{{total_string}}</th>
                                        </tr>
                                        <tr ng-repeat-start="(key, val) in sent_received_lost_shipment_detail" ng-init="Temp_index= $index"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#ffc5c3'} || (Temp_index % 2 != 0) && {'background-color': '#fbc8b1'}">
                                            <td rowspan="{{val.length}}" >{{key}}</td>
                                            <td>{{val[0]['title']}}</td>
                                            <td>{{val[0]['language']}}</td>
                                            <td ng-style=" (val[0]['total'] > 0) && {'background-color': 'red'}" >
                                                {{val[0]['total']}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="value in val.slice(1)"
                                            ng-style=" (Temp_index % 2 == 0) && {'background-color': '#ffc5c3'} || (Temp_index % 2 != 0) && {'background-color': '#fbc8b1'}">
                                            <td>{{value['title']}}</td>
                                            <td>{{value['language']}}</td>
                                            <td ng-style=" (value['total'] > 0) && {'background-color': 'red'}">
                                                {{value['total']}}</td>
                                        </tr>
                                        <tr>
                                            <td> Total </td>
                                            <td colspan="3"> {{ get_total(sent_received_lost_shipment_detail) }} </td>
                                        </tr>

                                    </table></div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













































